@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

html {
    font-family: "Quicksand", sans-serif;
    line-height: 1.5;
    color: #79B473;
    background: radial-gradient(#414073, #4C3957);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    min-height: 80rem;
}

header {
    text-align: center;
    margin: 3rem 0;
  }
  
  header img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
  }